body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left; 
}

.menu{
    float: left;
    padding-left: 432px;    
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

hr{
    margin: 0 auto 40px auto;
    background-color: #eb7800;
    height: 4px;
    width: 70px;
}

.part1{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2C384A;
    text-align: center;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #2C384A;
}

.title_container input{
    height: 40px;
    text-align: centr;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    font-weight: bold;
}

h2{
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    color: #263244;
    text-transform: uppercase;
    font-weight: bold;
}
.part2, .part3, .part4, .part6, .part7, .part8{
    text-align: center;
    margin: 100px 0px;
}

.part2 p{
    color: #3f495a;
    font-size: 20px;
    width: 800px;
    margin:30px auto;
}

.part2 button{
    height: 32px;
    text-align: centr;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 12px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.part3{
    background: url(../img/part3.jpg) center/cover no-repeat;
}

.skills div{
    display: inline-block;
    margin: 80px 30px;
    white-space:nowrap;
}

.skills h3{
    color: #eb7800;
    margin: 20px auto;
    font-weight: bold;
}

.part4 img{
    margin: 30px 0px;
}

.part4 div{
   
}







.part6{
    background: url(../img/part6.jpg) center/cover no-repeat;
}

.stats div{
    display: inline-block;
    margin: 80px 30px;
    white-space:nowrap;
}

.stats h4{
    color: #323d4f;
    margin: 20px auto;
    font-weight: bold;
    font-size: 25px;
    font-family: Impact;
}

.stats span{
    text-transform: uppercase;
    font-family: Franklin Gothic Medium;
}

.text_p7{
    margin: 20px 0px;
}

.part7 input{
    margin-top: 30px;
    color: #eb7800;
}

.part8 h2, .part8{
    color: #fff;
}

.part8{
    background: url(../img/part8.jpg) center/cover no-repeat;
    margin: auto;
}

.contacts div{
    display: inline-table;
    margin: 50px 30px 20px 30px;
}

.contacts img{
    margin-bottom: 20px;
}

.part8 h3{
    margin: 20px auto;
    font-weight: bold;
}









.SNS img{
    margin: 60px 30px;
}